<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auorora</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1>Aurora Tracker</h1>
      </header>
      <section id="map" class="map"></section>
      <section class="buttons">
        <div class="sub-button" onclick="updateLocation()">Update location</div>
        <div class="unsub-button" onclick="unSubLocation()">
          <img
            class="trash-icon"
            src="../static/images/trash-icon.png"
            alt="trash icon"
          />
        </div>
      </section>
      <section class="info">
        <h3>How your location is used</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          quasi enim, harum, itaque fugiat vel nulla maiores ea consequatur quos
          nam voluptas veritatis deleniti ad! A vero assumenda blanditiis id
          iure molestiae quia minus fuga voluptatum, ex modi tempora ipsam
          molestias dignissimos repellendus? Atque nesciunt natus officiis dicta
          tempora. Error natus sit et eos aspernatur debitis.
        </p>
      </section>
      <section class="positions">
        <h3>Last position updated</h3>
        <div class="paragraphBox">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <p>Labore aspernatur blanditiis unde nesciunt expedita.</p>
        </div>
      </section>
      <section class="timeStamp">
        <h3>Last position updated</h3>
        <div class="paragraphBox">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <p>Labore aspernatur blanditiis unde nesciunt expedita.</p>
        </div>
      </section>
    </div>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="../static/script/script.js"></script>
  </body>
</html>
