<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora Tracker</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link rel="stylesheet" href="/css/index.css" />
      <link rel="manifest" href="/manifest.json">

  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <p class="logo">Aurora Tracker</p>
        <div class="slogan-container">
          <img
            class="pin-icon"
            src="/images/pin-icon.png"
            alt="map location pin icon"
          />
          <p class="slogan">Chase the northern lights</p>
        </div>
      </header>
      <section class="map">
        <div id="map"></div>
      </section>
      <section class="buttons">
        <div class="sub-button" onclick="updateLocation()">
          <img
            class="nav-icon"
            src="/images/navigate-icon.png"
            alt="Icon of a navigation arrow"
          />
          <p>Update Location</p>
        </div>
        <div class="unsub-button" onclick="unSubscribeOnLocation()">
          <img
            class="trash-icon"
            src="/images/trash-icon.png"
            alt="trash icon"
          />
          <p>Remove Location</p>
        </div>
      </section>
      <section class="info">
        <h3>How Aurora Tracker Works</h3>
        <p>
          Aurora Tracker keeps an eye on geomagnetic activity around the world
          and alerts you when the Northern Lights might be visible from your
          location.
        </p>

        <p>
          The system gathers live data from space weather services and
          calculates how far the auroral oval extends based on the current Kp
          index, a global measure of geomagnetic disturbance.
        </p>

        <p>
          Your position is compared to the edge of this auroral zone using
          precise geographic formulas (yes, real math stolen from very skilled
          mathematicians!). If conditions look promising, Aurora Tracker sends
          you a notification so you don’t miss the show in the sky.
        </p>
      </section>
      <section class="info">
        <h3>How Your Location Is Used</h3>
        <p>
          When you update your location, it is stored in our database. We only
          save this information to provide accurate aurora alerts, and we do not
          collect any other personal data.
        </p>
        <p>
          If you want to remove your location, press the red trash icon and your
          position will be deleted from our system. If you update your location
          while one is already stored, the previous position will be
          overwritten. This makes it easy to update your location when traveling
          or away from home.
        </p>
      </section>
      <section class="positions">
        <h3>Current Position Registered</h3>
        <div class="paragraphBox">
          <p class="position-data">No current position selected</p>
        </div>
      </section>
      <section class="timeStamp">
        <h3>Last Notification Recieved</h3>
        <div class="paragraphBox">
          <p class="notification-timestamp">No notifications received</p>
        </div>
      </section>
    </div>
    <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-messaging-compat.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script>
      const PUBLIC_KEY = "[[${vapidKey}]]";
      const FIREBASE_KEY = "[[${firebaseKey}]]";
      const FIREBASE_API_KEY = "[[${firebaseApiKey}]]";
      const FIREBASE_AUTH_DOMAIN = "[[${firebaseAuthDomain}]]";
      const FIREBASE_PROJECT_ID = "[[${firebaseProjectId}]]";
      const FIREBASE_STORAGE_BUCKET = "[[${firebaseStorageBucket}]]";
      const FIREBASE_MESSAGING_SENDER_ID = "[[${firebaseMessagingSenderId}]]";
      const FIREBASE_APP_ID = "[[${firebaseAppId}]]";
      const FIREBASE_MEASUREMENT_ID = "[[${firebaseMeasurementId}]]"
    </script>
    <script src="/script/script.js"></script>
  </body>
</html>
