<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/sign-up.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>
    <div class="signup-outer-container">
        <div class="header">
            <div class="logo-container">
                <img alt="logo" class="logo" src="/images/logo-big.png">
            </div>
        </div>
            <div class="alert-container">
                <div class="error-email alert-message" th:if="${missingField == 'email'}">Invalid email input</div>
                <div class="error-cord alert-message" th:if="${missingField == 'cord'}">Invalid coordinates input</div>
                <div class="success alert-message" th:if="${success}">User successfully added</div>
            </div>
        <div class="signup-inner-container">
            <div class="signup-header">
                <p class="title">Register</p>
                <p class="under-title">Sign up to get notified when aurora is near your location</p>
            </div>
            <div class="signup-form-container">
                <form class=signup-form action="/"  method="post" >
                    <label for="name"></label>
                        <input class="input-field" type="text" name="name" id="name" placeholder="Enter your full name" required>
                    <label for="email"></label>
                    <input class="input-field" type="email" name="email" id="email" placeholder="Enter your email" required>
                    <label for="phoneNumber"></label>
                    <input class="input-field" type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter your phone number" required>
                    <input type="hidden" name="lat" id="latitude">
                    <input type="hidden" name="lon" id="longitude">
                    <div id="map"></div>
                    <button  class="submit-button" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/script/sign-up.js"></script>
</body>
</html>